.header {
  background-color: red;
  height: 23px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.reddit-title {
  font-size: 1.5em;
}

input {
  margin-left: 10px;
  border-radius: 3px;
  height: 18px;
}

.search-btn {
  border: none;
}
